__pycache__/
*.py[cod]
*.so
*.egg-info/

venv/
.venv/
env/
ENV/
job_obs_env/
.venv/


.vscode/
.idea/
*.sublime-*
/.config

.DS_Store
Thumbs.db

*.log
logs/

.pytest_cache/
.coverage
htmlcov/

# Ignore heavy generated data files
data/*.json
data/*.npy
data/vagas_unificadas.csv
data/vagas_processadas.csv

# Ignore large generated analysis HTML files
analisys_html/projeto_final.html
